spring:
  application:
    name: auth-service

  config:
    import: configserver:http://localhost:8888

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
  endpoint:
    health:
      show-details: always
